.bdy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.menu-card {
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    background-color: #2D4356;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.menu-card:hover {
    background-color: #33566b;
}

.menu-card a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: center;
}

.menu-card i {
    font-size: 1.2rem;
    margin: 0 5px;
}

.active {
    background-color: #64CCC5;
}

.active a,
.active i {
    color: #001C30;
}

@media (max-width: 768px) {
    .bdy {
        padding: 10px;
    }

    .menu-card {
        width: calc(50% - 20px);
    }
}




.user-profile2 {
    display: flex;
    padding: 20px;
}

.user-profile2 a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 1.2rem;
}

.user-profile2 i {
    font-size: 1.2rem;
    margin: 0 15px;
}

.logout {
    display: flex;
    padding: 20px;
    width: auto;
}
.logout a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 1.2rem;
}

.logout i {
    font-size: 1.2rem;
    margin: 0 15px;
}

.mnu-item {

    margin: 30px;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 5px;
    /* margin-top: 4vh; */
    background-color: #2D4356;
}


.mnu-item a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 1.2rem;
}

.mnu-item i {
    font-size: 1.2rem;
    margin: 0 15px;
}

.active {
    background-color: #64CCC5;
    padding: 20px;
    border-radius: 5px;
}

.active a,
.active i {
    color: #001C30;
}